<div class="post-container">
  {{#each posts}}
    <article class="post-card">
      <header class="post-header flex-row justify-space-between">
        <h2>
          <a href="/post/{{id}}">{{title}}</a>
        </h2>
        <div class="post-meta">
          Posted by {{User.username}} on {{format_date createdAt}}
        </div>
      </header>
      <div class="post-body">
        {{body}}
      </div>
    </article>
  {{/each}}
</div>
